@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Slab:wght@400;700&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* shared css  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* font-family: 'Dancing Script', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Young Serif', serif; */
/* font-family: 'Pacifico', cursive; */

.active {
  border-bottom: 2px solid rebeccapurple;
  color: #00ffe5;
}

/* for informal  */
.pocificoFont {
  font-family: "Pacifico", cursive;
}

/* for informal  */
.dancingFont {
  font-family: "Dancing Script", cursive;
}

.robotoFont {
  font-family: "Roboto Slab", serif;
}

.youngSerifFont {
  font-family: "Young Serif", serif;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}
